/* STYLES */

* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  height: 100%;
}

a:link,
a:visited {
  color: #000;
}

/*  INDEX */

#landing {
  margin-top: 10vh;
  height: 100vh;
  background-color: #fff;
  overflow: hidden;
  position: relative;
}

#landing.mobile {
  height: 90vh;
}

#landing.mobile .text-grid {
  font-size: 3rem;
  line-height: 4rem;
  display: flex;
  flex-direction: column;
}

#landing.mobile .text-grid .reveal-container {
  margin: 3rem;
}

.text-grid {
  color: #464646;
  font-size: 1.5rem;
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: fit-content(100%);
}

.reveal-container {
  overflow: hidden;
  margin: 0;
  z-index: 9;
  height: fit-content;
}

#name {
  font-size: 2rem;
  grid-column: span 2;
  margin: 3rem;
}

#eng,
#photo {
  grid-column: 2;
  margin: 1rem;
}

@keyframes reveal {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0);
  }
}

.reveal-item {
  margin: 0;
  transform: translateY(100%);
}

#eng .load-reveal {
  transition-delay: 0.08s;
}

#photo .load-reveal {
  transition-delay: 0.16s;
}

.load-reveal {
  margin: 0;
  transform: translateY(0);
  transition: transform 0.8s;
}

#landing img {
  opacity: 0.9;
  margin: 0 auto;
  position: absolute;
  bottom: 0;
  width: 100%;
}

#name.mobile {
  font-size: 3em;
}

#landing img.mobile {
  top: unset;
  bottom: 0;
  left: unset;
  right: unset;
  width: 100vw;
}

#contact p {
  color: #fff;
  width: 600px;
  font-size: 1.25rem;
  line-height: 2.5rem;
  overflow-wrap: break-word;
}

#index-container {
  background: #000;
  z-index: -2;
}

#links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: transparent;
  padding: 4em;
  height: 90vh;
}

@media (max-width: 900px) {
  #links {
    align-items: center;
  }

  #contact p {
    width: 80%;
  }
}

@media (max-device-width: 900px) {
  #links {
    align-items: center;
  }

  #links a {
    font-size: 7rem !important;
  }

  #contact p {
    width: 80%;
  }

  #contact.index {
    margin: 400px 0 !important;
  }
}

.background {
  position: absolute;
  margin-top: -4em;
  height: 90vh;
  right: 0;
  z-index: -1;
}

#links,
.background {
  min-height: 500px;
}

#links a {
  font-family: poppins;
  text-decoration: none;
  margin: 20px;
  font-weight: 900;
  transition: transform 0.3s ease-out;
  font-size: 40pt;
  color: #fff;
  width: min-content;
}

#links a:hover {
  transform: translate(10px, 0);
}

#bio {
  font-family: poppins;
  height: min-content;
}

#bio {
  font-size: 20pt !important;
  line-height: 3rem !important;
}

#contact p {
  padding: 40px;
}

#contact.index {
  align-items: center;
  margin: 10rem 0;
}

/* SUB-PAGES */

.header {
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.899);
  color: #464646;
  transition: top 0.3s;
  top: 0;
  margin: 0;
  width: 100%;
  height: 10vh;
  min-height: 50px;
  max-height: 100px;
  border-bottom: #c7c7c7 solid 1px;
}

.header.mobile {
  height: 10vh;
  max-height: unset;
  font-size: 1.5rem;
  top: 0 !important;
}

.header a:hover {
  color: #000;
  transition: color 0.8s;
}

.header.nav {
  justify-content: space-around;
}

.header.nav a {
  text-decoration: none;
}

.header a {
  transition: color 0.8s;
  margin-left: 20px;
  color: #464646;
  z-index: 2;
}

.header {
  position: fixed;
  z-index: 10;
}

.header a i {
  transition: transform 0.3s ease-out;
}

.header a:hover i {
  transform: translate(-10px, 0);
}

.header .title {
  position: absolute;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  z-index: 1;
}

@media (max-device-width: 900px) {
  .header .title,
  .header a i {
    font-size: 3rem !important;
  }
}

/* IMAGES */

#images {
  display: grid;
  margin: 30px auto;
  margin-top: 15vh;
  grid-template-columns: 1fr 1fr 1fr;
  width: min-content;
}

#images img {
  width: 300px;
  margin: 2px;
}

@media (max-width: 1000px) {
  #images img {
    width: 30vw !important;
  }
}

@media (max-device-width: 1000px) {
  #images img {
    width: 30vw !important;
  }
}

#images img {
  opacity: 0;
}

/* PROJECTS */

#projects {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 10vh;
  opacity: 0;
  position: relative;
  padding: 30px;
  min-height: 70%;
}

#projects.mobile .project img {
  height: 700px;
}

#projects.mobile .project .info {
  transform: translateY(0);
}

#projects.mobile .project .info p {
  font-size: 2rem;
  line-height: 3rem;
}

#projects a {
  margin: 20px;
}

.project {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.info-header h2:after {
}

.info-header h2 {
  margin-top: 10px;
}

@media (max-width: 900px) {
  .project {
    margin-bottom: 50px !important;
    flex-direction: column !important;
    width: unset !important;
  }

  .project .info {
    margin-bottom: unset !important;
  }
}

@media (max-device-width: 900px) {
  .project {
    margin-bottom: 50px !important;
    flex-direction: column !important;
    width: unset !important;
  }

  .project .info {
    margin-bottom: unset !important;
  }
}

.project:hover .info {
  transform: translateY(0);
  opacity: 1;
}

.project .info {
  border-radius: 10px 10px 0px 0px;
  padding: 10px 30px;
  height: 100%;
  position: absolute;
  color: #fff;
  opacity: 1;
  transform: translateY(82%);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9));

  transition: transform 0.5s;
}

.project .info .info-header {
  display: flex;
  justify-content: space-between;
}

.project p {
  font-size: 1rem;
  line-height: 1.5rem;
}

.project-links {
  position: fixed;
  margin-top: 10vh;
  top: 0;
  transition: top 0.3s;
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 10vh;
  min-height: 50px;
  max-height: 100px;
  background-color: rgba(255, 255, 255, 0.899);
  border-bottom: #c7c7c7 solid 1px;
}

.project-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #464646;
  transition: color 0.5s, border 0.5s;
  border: #fff solid 1px;
  width: 50%;
}

.project-links a:hover {
  color: #000;
  transition: color 0.5s, border 0.5s;
  border: #000 solid 1px;
}

.project-links .button-link {
  position: relative;
  padding-left: 2em !important;
  padding-right: 1.5em !important;

  font-size: 1rem;

  cursor: pointer;

  display: inline-block;
  min-height: 1em;
  outline: 0;
  border: none;
  vertical-align: baseline;
  font-weight: 700;
  line-height: 1em;
  font-style: normal;
  text-align: center;
  text-decoration: none;
  border-radius: 0.28571429rem;
  -webkit-box-shadow: 0 0 0 1px transparent inset,
    0 0 0 0 rgba(34, 36, 38, 0.15) inset;
  box-shadow: 0 0 0 1px transparent inset, 0 0 0 0 rgba(34, 36, 38, 0.15) inset;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -webkit-tap-highlight-color: transparent;
}

.project-links .button-link i {
  left: 0;
  top: 25%;
  position: absolute;
  height: 100%;
  text-align: center;
  font-size: 1.5rem !important;
}

.logo {
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.16);
  height: 400px;
  width: unset;
  position: relative;
}

/* EXPERIENCE */

#experience {
  margin-top: 15vh;
}

ul {
  list-style-type: none;
}

.type {
  font-family: poppins;
  margin-left: -40px;
  margin-top: 40px;
  text-align: center;
  font-size: 1em;
  color: rgba(0, 0, 0, 0.584);
}

.employment .item {
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin-bottom: 2em;
}

@media (max-width: 900px) {
  .employment {
    width: 100% !important;
  }

  #experience > ul {
    padding: 0px;
  }

  .employment {
    padding: 0px !important;
  }

  .employment .item {
    display: flex !important;
    flex-direction: column;
    align-items: center;
  }

  .employment .info {
    text-align: center !important;
  }
  .employment .summary {
    justify-self: flex-end;
    order: 3;
    padding-left: 0px;
    border-left: unset !important;
    xborder-top: 1pt solid rgba(128, 128, 128, 0.502);
  }
}

@media (max-device-width: 900px) {
  .employment {
    width: 100% !important;
  }

  #experience > ul {
    padding: 0px;
  }

  .employment {
    padding: 0px !important;
  }

  .employment .item {
    display: flex !important;
    flex-direction: column;
    align-items: center;
  }

  .employment .info {
    text-align: center !important;
  }
  .employment .summary {
    justify-self: flex-end;
    order: 3;
    padding-left: 0px;
    border-left: unset !important;
    xborder-top: 1pt solid rgba(128, 128, 128, 0.502);
  }
}

.employment .item .item-header {
  text-align: right;
  font-size: 1.5em;
  margin-bottom: 0;
}

.employment .info {
  text-align: right;
  color: grey;
  font-weight: 200;
  grid-row-start: 2;
}

.employment .summary {
  margin-top: 1em;
  margin-left: 1.5em;
  padding-left: 1.5em;
  grid-area: 1 / 2 / span 2 / span 1;

  border-left: 1pt solid rgba(128, 128, 128, 0.502);
}

.education {
  display: flex;
  justify-content: space-around;
}

.education a {
  text-decoration: none;
  width: 40vw;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.education img {
  width: 8em;
  margin: 0 auto;
}

.education .info {
  text-align: center;
}

.education h4 {
  font-family: poppins;
}

.education p {
  color: grey;
  font-weight: 200;
}

.skills h5 {
  font-family: poppins;
}

.skills {
  color: #808080;
  letter-spacing: 0.2rem;
  text-align: center;
  margin: 3rem 0 4rem -40px;
}

@media (max-width: 900px) {
  .skills {
    margin-left: unset !important;
  }
}

@media (max-device-width: 900px) {
  .skills {
    margin-left: unset !important;
  }
}

/* Contact */

#contact {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: 10vh;
}

@media (max-width: 900px) {
  #contact {
    flex-direction: column;
    align-items: center;
  }

  #contact img {
    max-height: 900px;
    width: 80% !important;
    height: 80vw !important;
  }
}

@media (max-device-width: 900px) {
  #contact {
    align-items: center;
    flex-direction: column;
  }

  #contact img {
    max-height: 900px;
    width: 80% !important;
    height: 80vw !important;
  }
}

#contact img {
  padding: 40px;
  height: 640px;
  width: 640px;
}

#contact .footer,
#contact .footer a {
  background: #fff;
  color: #000;
  justify-content: center;
}

#contact i {
  margin-right: 0.5em;
  font-size: 2em;
}

/* Type */
h1,
h2,
h3,
h4 {
  font-family: poppins;
  font-weight: 900;
  letter-spacing: 0.05em;
}

* {
  font-family: Lato, Helvetica, sans-serif;
}

/* FOOTER */

.footer {
  background-color: #464646;
  padding: 15px;
  padding-left: 50px;
  display: flex;
  flex-direction: column;
}

.footer i {
  margin: auto;
}

.footer p.grid-header {
  font-weight: bold;
  font-variant: small-caps;
  margin: 10px -10px;
  margin-left: -30px;
}

.footer a {
  display: flex;
  width: min-content;
  white-space: nowrap;
  text-decoration: none;
}

@media (max-device-width: 900px) {
  .footer {
    font-size: 1.5rem;
    padding: 50px;
  }
}

.footer,
.footer a:link,
.footer a:visited {
  color: #ffffff;
}

.footer p {
  margin: 10px 0px;
  padding: 0 15px;
}

/* Animations */

.hlink {
  position: relative;
}

.hlink:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.25s ease-in-out 0s;
  transition: all 0.25s ease-in-out 0s;
}

.hlink:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.unloaded {
  opacity: 0 !important;
}

.load-fade {
  opacity: 1 !important;
  animation: fadeIn;
  animation-timing-function: ease-in-out;
  animation-duration: 0.75s;
}

.loaded {
  opacity: 1 !important;
  animation: fadeIn, rise;
  animation-timing-function: ease-out;
  animation-duration: 0.5s;
}

#coreo {
}

.project-summary {
  min-height: 80%;
  width: 60%;
  min-width: 900px;
  margin: 20px auto;
  margin-top: 22vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

p.message {
  width: 90%;
  text-align: center;
  background: #009aff;
  color: #fff;
  border-radius: 10px;
  padding: 20px;
}

.message a,
.message a:visited {
  color: #fff !important;
}

.project-summary p {
  font-size: 1.2rem;
  line-height: 1.6;
}

.project-summary h2 {
  text-align: center;
}

.project-summary img {
  max-width: 80%;
  margin: 30px 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.project-summary .project-links {
  position: fixed;
  right: 0;
}

@keyframes fadeIn {
  from {
    filter: opacity(0);
  }

  to {
    filter: opacity(1);
  }
}

@keyframes fadeOut {
  from {
    filter: opacity(1);
  }

  to {
    filter: opacity(0);
  }
}

@keyframes rise {
  from {
    transform: translateY(10px);
  }
  to {
    transform: translateY(0px);
  }
}
